@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,800&family=Roboto+Slab:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 112px 135px 68px 135px;
  min-height: 100vh;
  background: #fdf0e9;
}
.text-container {
  display: flex;
  justify-content: space-between;
}
h2 {
  color: var(--Text_Dark_Accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.text-container h1 {
  width: 318px;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 64px;
}
.text-container button {
  width: 170px;
  height: 48px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
  color: #391400;
  text-align: center;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 80px;
}
img {
  width: 370px;
  height: 224px;
  flex-shrink: 0;
  border-radius: 6px;
  opacity: 80%;
  background: #5c2000;
}
.div-container {
  display: flex;
}
.div-container div{
margin-right: 30px;
}
.div-container p {
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 15px;
  margin-top: 26px;
}
.div-container h3{
    width: 338px;
    color: var(--Text_Dark, #391400);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    margin-bottom: 15px;
}
.div-container h4{
    color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}